/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
	
/* Navigations
---------------------------------------- */

/* Primary navigation */
nav.primary {
	text-align:center;
	padding:57px 0 0;
}

.sf-menu {
	display:none;
	}

.select-menu {
	width:180px;
}
/* Logo */
.logo {
	padding-bottom:15px;
	}
.logo img{
	width:100px;
	height:auto;
	}
.logo h1,
.logo h2 {
	font-size:1.5em;
	}
	.logo .tagline {
		display:none;
		}

/* Header widget */
#widget-header {
	padding:5px 0;
	text-align:center;
	}


/* Slider
---------------------------------------- */
#slider-wrapper {
    height:180px;
	}

.camera_caption {
    display: none !important;
}

/* Request a quote */
.top-box {
	padding:30px 0px 20px;
}
.box-text {
	border-right:none;
	padding:0 10px 31px;
}	
.box-button{
	border-right:none;
}
/* Advanced Widjet */
.post_list.testi li{
	width: 100%;
	float: none;
	border: none;
	padding: 0;
	margin: 0 0 30px 0;
}
.post_list.partners li{
	float: left;
	border: none;
	padding: 0;
	margin: 0 10px 30px 0;
}
.post_list.partners li .featured-thumbnail {
		max-width:120px;
	}

	.post_list.partners li.nomargin{
		margin-right: 10px;
	}
/* Post */
.featured-thumbnail {
	
	}
	.featured-thumbnail img {
		
		}
.post-meta .fright {
	float:none;
	clear:left;
	}
.featured-thumbnail.large {
	width:auto;
	height:auto;
	margin:0 0 10px 0;
	}

.post-holder .featured-thumbnail{
	margin-right: 10px;
}

/* Comments */
.comment-meta {
	position:static;
	padding-bottom:1em;
	}
.comment-author {
	padding-bottom:0;
	}

#commentform input[type="text"],
#commentform textarea {
	width:100%;
	}

/* Comment Form */
.commentlist ul.children {
	margin-left:0;
	}	


/* Team */
.recent-posts.team li {
	float:none;
	width:auto;
	margin:0 0 30px 0;
	}
	.recent-posts.team li .featured-thumbnail {
		width:120px;
		height:auto;
		overflow:hidden;
		float:left;
		margin:0 20px 0 0;
		}
	.recent-posts.team li h6{
		padding-top: 30px;
	}
/* Services */
.recent-posts.services li {
	float:none;
	width:100%;
	margin:0 0 30px 0;
	}

/* Testimonials list*/

	.testi-pic {
		left:10px;
		top:10px;
		width:50px;
		height:50px;
		}
		.testi-pic img {
			padding:2px;
			width:100%;
			height:auto;
			}
.testi-single{
	padding: 0;
}
/* Images */
.frame.alignleft,
.frame.alignright,
.frame.alignnone {
	margin-right:0;
	width:284px;
	}
.frame.alignleft img,
.frame.alignright img,
.frame.alignnone img	{
	width:100%;
	height:auto;
	}
	

/* Related Posts */
.related-posts li {
	width:auto;
	float:none;
	margin:0 0 .5em 0;
	}
.related-posts li:first-child {
	margin-left:0;
	}
.related-posts li .featured-thumbnail {
	display:none;
	}


/* SlidesJS */
.slides_container {
	width:300px;
}
.slides_container .item {
	width:300px;
	height:250px;
}
.slides_container .item .thumbnail img {
	width:100%;
	height:auto;
	}


/* Address */
.address dt {
	width:auto;
	margin:0 0 20px 0;
	padding:0 0 0 55px;
	font-size:12px;
	float:none;
	}
.address dd {
	float:none;
	width:auto;
	padding:0 0 0 43px;
	margin:0 0 20px 0;
	}
	.address dd span {
		width:100px;
		}


/* Comments */
.commentlist ul.children {
	margin-left:0;
	}
			

/* Portfolio
---------------------------------------- */
#gallery .portfolio li a.image-wrap {
		width:280px;
		height:146px;
		}
/* 1 column portfolio*/
#gallery.one_column .portfolio li a.image-wrap {
	width:280px;
	height:140px;
	float:none;
	}
	#gallery.one_column .folio-desc {
		width:100%;
		padding-top:15px;
		margin:0;
		}
			
/* 4 columns portfolio*/
#gallery.four_columns .portfolio li {
	width:100%;
	margin:0 0 30px 0;
	float:none;
	}
	#gallery.four_columns .portfolio li a.image-wrap {
		width:284px;
		height:172px;
		}
		#gallery.four_columns .portfolio li a img {
			width:100%;
			height:auto;
			}

/* 2 columns portfolio*/
#gallery.two_columns .portfolio li {
	width:100%;
	margin-right:0;
	}
	#gallery.two_columns .portfolio li a.image-wrap {
		width:283px;
		height:155px;
		}

/* Carousel */
.es-carousel ul li h4 {
	display:none;
	}
.es-carousel ul li .excerpt {
	display:none;
	}
.es-carousel ul li .link {
	display:none;
	}	

.post_list .featured-thumbnail {
	float:left;
	margin:0 20px 0 0;
	}

.latestpost .featured-thumbnail {
	float:left;
	margin:0 20px 0 0;
	}

.error404-num {
		font-size:180px;
		margin-bottom: 0 !important;
		}	
/* Post Formats
---------------------------------------- */

/* Image Post Format */
.image-post-format img {
	width:100%;
	overflow:hidden;
	}

/* Gallery Post Format */
.slides_container_gallery {
	width:300px;
	height:150px;
	}
	.slides_container_gallery .g_item {
		width:300px;
		}	

/* Audio Format Type */
.audiojs .scrubber {
	width:130px;
	}

	
	
/* Google Map */
.google-map {
	position: relative;
	padding-bottom: 46.25%;
	height: 0;
	overflow: hidden;
	margin:0 0 2% 0;
}
.google-map iframe,  
.google-map object,  
.google-map embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
		
.pad{
	padding-right: 0;
}
	
/* Footer
---------------------------------------- */
nav.footer {
	float:none;
	text-align:center;
	padding:0 0 10px 0;
	}

#footer-text {
	width:auto;
	float:none;
	text-align:center;
	}

nav.footer ul li {
	margin: 0 5px 0 0;
}

}